<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'head.njk' %}
</head>
<body>
  <header class="page-header">
    <a href="/" class="page-header__logo" title="Go home">
      <img src="/assets/avatar-elizabeth.png" alt="avatar of a person with long wavy brown hair and a blue sweater" width="48">
    </a>

    <nav>
      <a href="/">Home</a>
      <a href="/writing">Writing</a>
      <a href="/about">About Me</a>
    </nav>
  </header>
  <main>
    {{ content | safe }}
  </main>
  
  <footer class="page-footer">
    <div class="small">Copyright Elizabeth Zaleski</div>
    <div class="small">Template by <a href="https://github.com/binyamin/eleventy-garden/blob/main/LICENSE">Binyamin Aron Green</a></div>
  </footer>
</body>
</html>
