<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'head.njk' %}
</head>
<body>
  <header class="page-header">
    <a href="/" class="page-header__logo" title="Go home">
      <img src="/assets/elizabeth.jpg" alt="Elizabeth Zaleski">
    </a>

    <nav>
      <a href="/">Home</a>
      <a href="/book">My book</a>
      <a href="/pubs">Pubs and projects</a>
      <a href="/contact">Contact and events</a>
    </nav>
  </header>
  <main>
    {{ content | safe }}
  </main>
  
  <footer class="page-footer">
    <div class="small">Copyright Elizabeth Zaleski</div>
  </footer>
</body>
</html>
